@font-face {
    font-family: "Ubuntu";
    font-weight: 400;
    src: url(assets/fonts/Ubuntu-Regular.ttf) format('truetype');
}
@font-face {
    font-family: "Ubuntu";
    font-weight: 500;
    src: url(assets/fonts/Ubuntu-Medium.ttf) format('truetype');
}
@font-face {
    font-family: "Ubuntu";
    font-weight: 700;
    src: url(assets/fonts/Ubuntu-Bold.ttf) format('truetype');
}

:root {
    /* primaries colors */
    --marine-blue: #02295a;
    --Purplish-blue: #473dff;
    --Pastel-blue: #adbeff;
    --Light-blue: #bfe2fd;
    --Strawberry-red: #ed3548;

    /* neutral colors */
    --Cool-gray: #9699ab;
    --Light-gray: #d6d9e6;
    --Magnolia: #f0f6ff;
    --Alabaster: #fafbff;
    --White: #ffffff;

    /* fonts */
    --font-size-paragraph: 16px;
    --main-font: "Ubuntu"; /* Weights: 400, 500, 700 */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* inicio mobile */
@media screen and (max-width: 849px) {
    /* container dos steps */
    .appContainer {
        width: 100vw;
        height: 100vh;
        background-color: var(--White);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .sidebarContainer {
        width: 100%;
        height: 25%;
        position: absolute;
        top: 0;

        background-color: red;
    }

    .rightAppContainer {
        width: 100%;
        height: 75%;
        background-color: var(--Magnolia);
    }

    .stepContainer {
        width: 93%;
        height: 55%;  /* remover o height quando o conteudo for inserido dentro */
        position: absolute;
        top: 100px;
        left: 3.5%;

        background-color: green;
    }

    .navigationContainer{
        width: 100%;
        height: 15%;
        position: absolute;
        bottom: 0;

        background-color: blue;
    }
}


/* inicio desktop */
@media screen and (min-width: 850px) {
    /* container dos steps */
    .appContainer {
        width: 850px;
        height: 520px;
        border-radius: 20px;
        box-shadow: 2px 2px 30px 2px #0000000d;
        background-color: var(--White);
        padding: 15px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }


    .sidebarContainer {
        width: 30%;
        height: 100%;
        border-radius: 10px;

        background-color: red;
    }

    .rightAppContainer {
        width: 70%;
        height: 100%;

        padding: 50px 55px 20px 70px;
    }

    .stepContainer {
        height: 85%;

        background-color: green;
    }

    .navigationContainer{
        height: 15%;

        background-color: blue;
    }
}